<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mantenimiento Cliente</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body class="pt-1">
  <h1 style="text-align: center; font-family: Courier New, monospace; font-size: 50px;">Mantenimiento Clientes</h1>
  <br>
  <div style="font-family: Courier New, monospace;" class="d-flex">
    <div class="card col-sm-3">
      <div class="card-body">
        <form [formGroup]="formCliente" (submit)="guardarUsuario()">
          <!-- <input type="text" class="form-control" placeholder="Ingrese su dni" formControlName="dni"> -->
          <div class="form-group">
            <label>Dni</label>
            <input type="text" class="form-control" placeholder="Ingrese su DNI" formControlName="dni">
          </div>
          <div class="form-group">
            <label>Nombres</label>
            <input type="text" class="form-control" placeholder="Ingrese su Nombre" formControlName="nombre">
          </div>
          <div class="form-group">
            <label>Apellidos</label>
            <input type="text" class="form-control" placeholder="Ingrese su Apellido" formControlName="apellido">
          </div>
          <div class="form-group">
            <label>Direccion</label>
            <input type="text" class="form-control" placeholder="Ingrese su Direccion" formControlName="direccion">
          </div>
          <div class="form-group">
            <label>Correo</label>
            <input type="text" class="form-control" placeholder="Ingrese su correo" formControlName="correo">
          </div>
          <div class="form-group">
            <label for="inputTel">Teléfono</label>
            <input type="text" class="form-control" placeholder="Ingrese su Telefono" formControlName="telefono">
          </div>
          <button type="submit" name="accion" class="btn btn-info">
            <i class="bi bi-plus"></i> Agregar
          </button>
          <button type="button" name="accion" (click)="Actualizar()" class="btn btn-success mx-1">
            <i class="bi bi-arrow-clockwise"></i> Actualizar
          </button>
        </form>
      </div>
    </div>
    <div class="col-sm-9">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>DNI</th>
            <th>NOMBRES</th>
            <th>APELLIDOS</th>
            <th>DIRECCIÓN</th>
            <th>CORREO</th>
            <th>TELÉFONO</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let elemento of clients">
            <th scope="row">{{elemento.dni}}</th>
            <td>{{elemento.nombre}}</td>
            <td>{{elemento.apellido}}</td>
            <td>{{elemento.direccion}}</td>
            <td>{{elemento.correo}}</td>
            <td>{{elemento.telefono}}</td>
            <td>
              <button class="btn btn-primary mx-1" (click)="editarCliente(elemento)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="eliminarCliente(elemento)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>